@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.main-title{
    padding-top: 1em;
    color: blue;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    width: 50%;
}

.choice-container{
    display:flex;
    justify-content: space-between;
    padding-top: 2em;
}

.choice-selection{
    margin:auto;
    

}