@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

div{
    margin: auto;
    width: 50%;
}

.test-class{
    color: blue;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

